.projects__layer
  .projects__container
    .projects__item
      .projects__image
        //- img(src="../img/busch.jpg" class="projects__pic")
      .projects__summary
        h2(class="projects__subheading") EarthDance
        p(class="projects__teaser") EarhtDance is an organic farm school in Ferguson.
        p(class="projects__builtWith") Wordpress, Stylus, Gulp, WPEngine and CodeShip
    .projects__item
      .projects__image
        //- img(src="../img/busch.jpg" class="projects__pic")
      .projects__summary
        h2(class="projects__subheading") St. Louis Art Works
        p(class="projects__teaser") Jekyll website helped to manage content.
    .projects__item
      .projects__image
        //- img(src="../img/busch.jpg" class="projects__pic")
      .projects__summary
        h2(class="projects__subheading") Museum Gateway
        p(class="projects__teaser") I have 3 years experience turning designs into hand-coded responsive websites for desktop, tablet, and mobile. I'm knowledgeable in SEO and performance best practices. I grind to deliver on time.
    .projects__item
      .projects__image
        //- img(src="../img/busch.jpg" class="projects__pic")
      .projects__summary
        h2(class="projects__subheading") Summary
        p(class="projects__teaser") I have 3 years experience turning designs into hand-coded responsive websites for desktop, tablet, and mobile. I'm knowledgeable in SEO and performance best practices. I grind to deliver on time.
