.projects__layer
  .projects__container
    .projects__item
      .projects__image
        //- img(src="../img/busch.jpg" class="projects__pic")
      .projects__summary
        h2(class="projects__subheading") EarthDance
        p(class="projects__teaser") EarhtDance is an organic farm school in Ferguson.
        p(class="projects__builtWith") Wordpress, Stylus, Gulp, WPEngine and CodeShip
    .projects__item
      .projects__image
        //- img(src="../img/busch.jpg" class="projects__pic")
      .projects__summary
        h2(class="projects__subheading") St. Louis Art Works
        p(class="projects__teaser") Educational and career training program for youth to be artists.
        p(class="projects__builtWith") Jekyll, Gulp, Stylus and Cloud Cannon
    .projects__item
      .projects__image
        //- img(src="../img/busch.jpg" class="projects__pic")
      .projects__summary
        h2(class="projects__subheading") Museum Gateway
        p(class="projects__teaser") Resource to help youth purse a career as museum professional.
        p(class="projects__builtWith") Gulp, Stylus, GitHub Pages, Waypoints and CSS-Animations
    .projects__item
      .projects__image
        //- img(src="../img/busch.jpg" class="projects__pic")
      .projects__summary
        h2(class="projects__subheading") Reliant Care Management Company
        p(class="projects__teaser") Manages facilities to providing quality care to elderly.
        p(class="projects__builtWith") Wordpress, Gulp
