.projects__layer
  .projects__container
    .projects__item
      .projects__summary
        h2(class="projects__subheading") Summary
        p(class="projects__teaser") I have 3 years experience turning designs into hand-coded responsive websites for desktop, tablet, and mobile. I'm knowledgeable in SEO and performance best practices. I grind to deliver on time.
      .projects__image
        //- img(src="../img/busch.jpg" class="projects__pic")
    .projects__item
      .projects__summary
        h2(class="projects__subheading") Summary
        p(class="projects__teaser") I have 3 years experience turning designs into hand-coded responsive websites for desktop, tablet, and mobile. I'm knowledgeable in SEO and performance best practices. I grind to deliver on time.
      .projects__image
        //- img(src="../img/busch.jpg" class="projects__pic")
    .projects__item
      .projects__summary
        h2(class="projects__subheading") Summary
        p(class="projects__teaser") I have 3 years experience turning designs into hand-coded responsive websites for desktop, tablet, and mobile. I'm knowledgeable in SEO and performance best practices. I grind to deliver on time.
      .projects__image
        //- img(src="../img/busch.jpg" class="projects__pic")
    .projects__item
      .projects__summary
        h2(class="projects__subheading") Summary
        p(class="projects__teaser") I have 3 years experience turning designs into hand-coded responsive websites for desktop, tablet, and mobile. I'm knowledgeable in SEO and performance best practices. I grind to deliver on time.
      .projects__image
        //- img(src="../img/busch.jpg" class="projects__pic")




  //- .projects__item
  //-   .projects__image
  //-     //- img(src="../img/arch.jpg" class="projects__pic")
  //-   .projects__summary
  //-     h2(class="projects__subheading") Summary
  //-     p(class="projects__teaser") I have 3 years experience turning designs into hand-coded responsive websites for desktop, tablet, and mobile. I'm knowledgeable in SEO and performance best practices. I grind to deliver on time.
  //- .projects__item
  //-   .projects__summary
  //-     h2(class="projects__subheading") Summary
  //-     p(class="projects__teaser") I have 3 years experience turning designs into hand-coded responsive websites for desktop, tablet, and mobile. I'm knowledgeable in SEO and performance best practices. I grind to deliver on time.
  //-   .projects__image
  //-     //- img(src="../img/cards-game.jpg" class="projects__pic")
  //- .projects__item
  //-   .projects__image
  //-     //- img(src="../img/tedDrewes.jpg" class="projects__pic")
  //-   .projects__summary
  //-     h2(class="projects__subheading") Summary
  //-     p(class="projects__teaser") I have 3 years experience turning designs into hand-coded responsive websites for desktop, tablet, and mobile. I'm knowledgeable in SEO and performance best practices. I grind to deliver on time.
