//color variables
$red: hsl(353deg, 98%, 41%);
$grey: hsl(0deg, 0%, 61%);
$darkgrey: hsl(0deg, 0%, 29%);
$greybrow: hsl(0deg, 0%, 80%);
$white: hsl(0deg, 0%, 100%);
$redbrow: hsl(3deg, 100%, 67%);
$yellowbrow: hsl(44deg, 96%, 55%);
$greenbrow: hsl(129deg, 65%, 48%);
