.header__layer
  .header__left
    a(href="#" class="header__home") MICHAEL SHEPARD
    h3(class="header__description") STL WEB DEVELOPER
  .header__right
    a(href="#" class="header__port") Portfolio
    a(href="#"  class="header__resume") Resume
    a(href="#" class="header__contact") Contact
