.header {

  &__layer {
    display: flex;
    justify-content: space-around;
    padding: 1rem 1rem;
    border-bottom: 1px solid $grey;

    @include media('<=880px') {
      display: block;
    }
  }

  &__branding {
    align-items: center;
    display: flex;
    justify-content: center;

    @include media('<=1190px') {
      display: block;
    }
  }

  &__home {
    border-radius: 5px;
    font-family: $fira;
    font-size: 1.5rem;
    font-weight: 700;
    padding: .5rem 1.5rem;

    &:hover {
        background-color: $red;
        color: $white;
      }
  }

  &__description {
    color: $grey;
    font-size: 1.5rem;
    font-weight: 400;
    padding: 0 1.5rem;
  }

  &__nav {
    align-items: center;
    display: flex;
    padding: 0 1.5rem;
    text-align: center;
  }

  &__link {
    border-radius: 5px;
    flex: 1;
    font-size: 1.5rem;
    font-weight: 300;
    padding: .5rem 1rem;

    &:hover {
        background-color: $red;
        color: $white;
        opacity: .7;
      }
  }

  &__nav.portfolio .portfolio {
    background-color: $red;
    color: $white;
  }

  &__nav.resume .resume {
    background-color: $red;
    color: $white;
  }

  &__nav.contact .contact {
    background-color: $red;
    color: $white;
  }
}
