.header {

  &__layer {
    display: flex;
    justify-content: space-around;
    padding: 1rem 1rem;
    border-bottom: 1px solid $darkgrey;
  }

  &__branding {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  &__home {
    font-family: $fira;
    font-size: 1.5rem;
    font-weight: 700;
    padding: .5rem 1rem;

    &:hover {
        background-color: $red;
        color: $white;
      }
  }

  &__description {
    color: $grey;
    font-size: 1.5rem;
    font-weight: 400;
    padding: 0 1.5rem;
  }

  &__nav {
    align-items: center;
    display: flex;
    padding: 0 1.5rem;
    text-align: center;
  }

  &__link {
    flex: 1;
    font-size: 1.5rem;
    font-weight: 300;
    padding: .5rem 1rem;

    &:hover {
        background-color: $red;
        color: $white;
      }
  }


}
