extends ../layout/global
//- This page uses the global layout

//- Fill in title and description for SEO
block seo
  title Michael Shepard
  meta(name='description', content='Michael Shepard | St. Louis Web Developer')

//- Index page specific content only
block page
  //- include ../includes/internal/video
