.feature__layer
  .feature__banner
    h1(class="feature__title") MICHAEL SHEPARD
    h2(class="feature__heading") STL WEB DEVELOPER








  //- .home__work
  //-   .home__container
  //-     h3(class="home__subheading") Latest work
  //-     a(href="#" class="home__workbox1")
  //-       .home__browserbar
  //-         .home__item
  //-         .home__item
  //-         .home__item
  //-       img(src="#" class="home__project1")
  //-     a(href="#" class="home__workbox2")
  //-       .home__browserbar
  //-         .home__item
  //-         .home__item
  //-         .home__item
  //-       img(src="#" class="home__project2")
