.fun__layer
  .fun__container
    h3(class="fun__subheading") A Few Fun Facts
    p I love watching and playing sports. Especially love my home town teams. I love pets and currently have a dog named Lola. Coffee is my best friend in the mornings. I'm a foodie that likes to try new restaurants. However, my favorite course is dessert. 
