.summary__layer
  .summary__container
    h3(class="summary__subheading") Front-end Developer
    p I have 3 years experience turning designs into hand-coded responsive websites for desktop, tablet, and mobile. I'm knowledgeable in SEO and performance best practices. I grind to deliver on time.
