.work__layer
  .work__container
    h3(class="work__subheading") Latest work
    .work__item
      .work__browserbar
        .work__red
        .work__yellow
        .work__green
      .work__project1
        a(href="http://stlartworks.org" class="work__link")
          //- img(src="../img/busch.jpg" class="work__image")
    .work__item
      .work__browserbar
        .work__red
        .work__yellow
        .work__green
      .work__project2
        a(href="http://earthdance.staging.wpengine.com" class="work__link")
          //- img(src="../img/arch.jpg" class="work__image")
