.work__layer
  .work__container
    h3(class="work__subheading") Latest work
    .work__item
      .work__browserbar
        .work__red
        .work__yellow
        .work__green
      .work__project1
        a(href="http://cdn.rentcafe.com/dmslivecafe/3/167113/3_167113_1482734.jpg" class="work__link")
          //- img(src="../img/busch.jpg" class="work__image")
    .work__item
      .work__browserbar
        .work__red
        .work__yellow
        .work__green
      .work__project2
        a(href="https://www.askideas.com/media/82/Gateway-Arch-And-St.-Louis-Skyline-At-Night.jpg" class="work__link")
          //- img(src="../img/arch.jpg" class="work__image")
