.employment__layer
  .employment__container
    h2(class="employment__subheading") Summary
    .employment__summary
      p I have 3 years experience turning designs into hand-coded responsive websites for desktop, tablet, and mobile. I'm knowledgeable in SEO and performance best practices. I grind to deliver on time.
    h2(class="employment__subheading") Skills
    .employment__skills
      ul(class="employment__list")
        li Applications: Atom and Terminal
        li Languages: HTML5, CSS3, and JavaScript
        li Frameworks/Libraries: JQuery
        li Pre/Post-processors: Sass, SCSS, Stylus, LESS, PUG and PostCSS
        li Tooling: Gulp and NPM Scripts
        li Content management systems: CosmicJS and WordPress
        li Version control: Git
    h2(class="employment__subheading") Employment
      .employment__history
        .employment__company
          p Solvm - Web developer
          p Husch Blackwell - Records Clerk
        .employment__period
          p 2014-Present
          p 2006-2016
    h2(class="employment__subheading") Portfolio
    .employment__portfolio
      a(href="#" class="employment__link") Somesite.com
      a(href="#" class="employment__link") Somesite.com
      a(href="#" class="employment__link") Somesite.com
      a(href="#" class="employment__link") Somesite.com
    h2(class="employment__subheading") Education
    .employment__education
      p Central Missouri State    Warrensburg, MO
      p Ladue Horton Watkins HS   St. Louis, MO
    .employment__download
    a(href="#" class="employment__button") Download Resume
