.employment__layer
  .employment__container
    h2(class="employment__subheading") Skills
    .employment__skills
      ul(class="employment__list")
        li Applications: Atom and Terminal
        li Languages: HTML5, CSS3, and JavaScript
        li Frameworks/Libraries: JQuery
        li Pre/Post-processors: Sass, SCSS, Stylus, LESS, PUG and PostCSS
        li Tooling: Gulp and NPM Scripts
        li Content management systems: CosmicJS and WordPress
        li Version control: Git
    h2(class="employment__subheading") Employment
    .employment__history
      .employment__company
        p Solvm - Front-End Web Developer
        p Husch Blackwell - Records Clerk
        p Ace Expediters - Courier
        p Busch's Grove - Valet
      .employment__period
        p 2014-Present
        p 2006-2016
        p 2003-2005
        p 1999-2003
    h2(class="employment__subheading") Portfolio
    .employment__portfolio
      a(href="http://earthdancefarms.org/" target="_blank" class="employment__link") EarthDance Organic Farm School
      a(href="http://stlartworks.org" target="_blank" class="employment__link") St. Louis Art Works
      a(href="https://museumjobsgateway.github.io/" target="_blank" class="employment__link") Museum Jobs Gateway
      a(href="http://reliantcaremgmt.com/" target="_blank" class="employment__link") Reliant Care Management
      a(href="http://dimensionsdancecenter.org/" target="_blank" class="employment__link") Dimensions Dance Center
    h2(class="employment__subheading") Education
    .employment__education
      p Central Missouri State in Warrensburg, MO
      p STL Community College at Meramec in St. Louis, MO
      p Ladue Horton Watkins HS in St. Louis, MO
    .employment__download
      a(href="#" class="employment__button") Download Resume
