.hero {

  &__layer {
  background-image: url(../img/mikeLianna.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
  }
}
