.work {

  &__layer {
    display: flex;
    justify-content: center;
    padding-bottom: 3rem;
  }

  &__container {
    display: flex;
    flex-direction: column;
    width: 50%;
  }

  &__subheading {
    color: $darkgrey;
    margin: 0 auto;
    padding-top: 2rem;
    width: 80%;
  }

  &__item {
    display: flex;
    flex-direction: column;
    height: 350px;
    margin: 0 auto;
    padding: 1.5rem 0;
    width: 80%;
  }

  &__browserbar {
    background-color: $greybrow;
    display: flex;
    padding: .25rem .25rem;
  }

  &__red {
    background-color: $redbrow;
    border-radius: 50%;
    height: 10px;
    width: 10px;
  }

  &__yellow {
    background-color: $yellowbrow;
    border-radius: 50%;
    height: 10px;
    margin: 0 .2rem;
    width: 10px;
  }

  &__green {
    background-color: $greenbrow;
    border-radius: 50%;
    height: 10px;
    width: 10px;
  }

  &__project1 {
    background-image: url(../img/busch.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 19px 57px #000000;
    display: flex;
    height: 310px;
  }

  &__link {
    height: 100%;
    width: 100%;
  }

  &__project2 {
    background-image: url(../img/tedDrewes.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 19px 57px #000000;
    display: flex;
    height: 310px;

  }
}
